/* global styles */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #030023de;
  color: #fff;
}

/* *********************************************************************************** */
/* style the nav element */
.nav {
  background-color: #030023;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: top 0.5s ease-in-out;
  padding: 30px;
}

/* adds styles for the nav to disappear when we scroll */
.nav.hide {
  top: -100px;
}

/* hides the hamburger icon */
.icon {
  display: none;
}

.logo {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    height: 80px;
    width: 100px;
}

.nav > a {
  position: relative;
  float: right;
  text-decoration: none;
  color: #f1f2f2;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  padding: 0 10px;
}

.nav > a:after {
  content: "";
  position: absolute;
  background-color: #898989;
  height: 1px;
  width: 0;
  left: 0;
  bottom: -3px;
  transition: 0.3s;
}
.nav > a:hover {
  color: #898989;
}
.nav > a:hover:after {
  width: 100%;
}

/* create responsive navbar for when screen is less than 600px wide */
@media screen and (max-width: 600px) {
  /* hide the navigation links except hamburger icon */
  .nav > a:not(:first-child) {
    display: none;
  }
  /* display hamburger icon */
  .nav a.icon {
    float: right;
    display: block;
  }
}

/* when the hamburger icon is clicked, display the navigation links */
@media screen and (max-width: 600px) {
  .nav.responsive {
    position: relative;
    padding: 80px 0 0 0;
  }
  .nav.responsive .icon {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: right; 
    background-color: #030023;
    
    padding: 10px;
  }

  .nav.responsive a::after {
    content: none;
  }

  .nav.hide {
    top: -300px;
  }

  .logo {
    left: 0;
  }
 
}

/* ********************************************************************************* */
/* Style the header */
.header {
  overflow: hidden;
  padding: 20px 10px;
  text-align: center;
}

.header > h1 {
  font-size: 100px;
  font-weight: 700;
  margin: 0;
  margin-top: 70px;
}

/* add responsiveness for small screens: make font size smaller */
@media screen and (max-width: 600px) {
 .header > h1 {
    font-size: 70px;
 }
 
  .header {
    margin-top: 60px;
  }
}

@media screen and (max-width: 450px) {
  .header > h1 {
    font-size: 50px;
  }

  .header > h2 {
    font-size: 50px;
  }
  
}

.header > hr {
  width: 60%;
}

.header > h2 {
  font-size: 30px;
  font-weight: 400;
  margin-top: 25;
}

/* ************************************************************************************** */
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-bottom: 3rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Fading animation */
.fade {
  animation-name: fade;
  /* make sure animation-duration is equivilent to the delay duration in the slideshow JS function. 5s seems about the right length */
  animation-duration: 5s;
}

/* specify animation for slideshow:  */
@keyframes fade {
  0% {
    opacity: 0.0;
  }
  40% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0.0;
  }
}

/* *********************************************************************************** */
/* Style about section */

.sectionHeader {
  font-size: 2rem;
}
.aboutContainer {
  padding: 50px;
  text-align: center;
  background-color: #030023;
  color: #fff;
}

.aboutParagraph {
  max-width: 1000px;
  font-size: 20px;
  font-weight: 400;
  margin: 25px auto;
}

/* ***************************************************************************************** */
/* style the contact section */
.contactForm {
  padding: 40px;
  text-align: center;
  color: #fff;
}

.contactForm > form {
  width: 60vw;
  max-width: 700px;
  min-width: 300px;
  margin: 0 auto;
  margin-top: -25px;
  padding: 1em;
}

.contactForm label {
  text-align: left;
  display: block;
  margin: 1rem 0 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2.5em;
}

input,
textarea {
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}
textarea {
  min-height: 10em;
}

input[type="submit"] {
  display: block;
  width: fit-content;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  padding: 0 1em;
}

input[type="submit"]:hover {
  background-color: #53536a;
}

@media screen and (max-width: 600px) {
  .contactForm {
    padding: 20px;
  }
  .contactForm > form {
    width: 90vw;
  }
}

/* ************************************************************************************** */
/* style the footer */
.footer {
  background-color: #030023;
  color: #fff;
  text-align: center;
  padding: 20px;
}
